body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'inter', sans-serif;
}

#introduction {
    /* Add styling for the introduction section */
}

#professional-photo {
    /* Add styling for the professional photo section */
}

#tagline {
    /* Add styling for the tagline section */
}

#about-me {
    /* Add styling for the about me section */
}

#work-experience {
    /* Add styling for the work experience section */
}

#navigation-cards, #call-to-action {
    /* Add styling for the navigation cards and call to action sections */
}
/* Add the following styles to center the elements horizontally with padding */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #ADD8E6; /* Light Blue Color */
    padding-bottom: 30px;
}

.burger-menu, .header-icon, .header-name {
    font-size: 20px;
    cursor: pointer;
}

.header-icon img {
    max-width: 20px;
    max-height: 20px;
    /* Add additional styling for the icon if needed */
}

/* Add responsive styles for smaller screens (optional) */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-icon {
        margin-top: 10px;
    }
}
nav {
    display: none;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.closed {
    display: none;
}

.open {
    display: block;
}
